body{
    background-color: #ccc;
    font-family: Arial, Helvetica, sans-serif;
    color: #222;
}

img{
    width: 100%;
}

.card{
    background-color: white;
    border-radius: 15px;
    margin: 0 auto;
    width: 600px;
    text-align: center;
}